/* Home Page Container as Card */
.container {
    text-align: center;
    margin: 100px auto; /* center horizontally */
    padding: 50px 30px; /* space inside card */
    max-width: 600px; /* card width */
    background-color: #ffffff; /* card background color */
    border-radius: 15px; /* rounded corners */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* shadow effect */
}

/* Header inside card */
.header h1 {
    color: #1f3c88;
    font-size: 40px;
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
    color: #555;
}

/* Links buttons inside card */
.links a {
    text-decoration: none;
    padding: 12px 25px;
    margin: 10px;
    background-color: #1f3c88;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    display: inline-block;
}

.links a:hover {
    background-color: #163172;
}


/* Jobs Page */
.page-title {
    text-align: center;
    margin: 30px 0;
    color: #1f3c88;
}

/* Table */
.jobs-table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

.jobs-table th,
.jobs-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.jobs-table th {
    background-color: #1f3c88;
    color: white;
}

.jobs-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* No Jobs Message */
.no-jobs {
    text-align: center;
    font-size: 30px;
    color: red;
    margin-top: 100px;
}
